# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
.venv/
venv/
ENV/

# VSCode
.vscode/

# macOS
.DS_Store

# Data files
*.csv
*.parquet
*.zip

# Logs
*.log